body {
    background: rgb(238, 235, 233);
}


img {
    max-width: 100%;
}

.kitty {
    max-width: 45%;
    margin: 45px auto 25px;
    display: block;
}

.message {
    text-align: center;
}

  
form {
    width: 350px;
    display: flex;
    flex-direction: column;
}


form > * {
    padding: 6px 10px;
    margin-bottom: 6px;
}

